<!-- 
PROBLEM STATEMENT NO. 7
	<form method="POST" action="/">
		<input type="number" name="pincode" min="100000" max="999999" />
		<button>Submit</button>
	</form>
-->

<form method="POST" action="/">
	<input type="number" name="lat" step="0.0001" />
	<input type="number" name="lng" step="0.0001" />
	<!--
		<fieldset>
			<legend>Hourly</legend>
			<input type="checkbox" id="option1" name="option1" value="temperature_2m" />
			<label for="option1">temperature_2m</label> <br/>
			<input type="checkbox" id="option2" name="option2" value="relativehumidity_2m" />
			<label for="option2">relativehumidity_2m</label> <br/>
			<input type="checkbox" id="option3" name="option3" value="dewpoint_2m" />
			<label for="option1">dewpoint_2m</label> <br/>		
		</fieldset>	
	-->
	<button>Submit</button>
</form>
